* {
    font-family: 'Kanit', sans-serif!important;
}

.card {
    width: 80%;
    margin-left: 10%;
    z-index: 10;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bar {
    position: absolute;
    top: 0px;
}

.bg {
    background: url(../assets/image/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-top {
    font-size: 3vw;
    color: #fff;
    margin-top: 33px;
    margin-left: 60px;
}

.textuser {
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
    color: aliceblue;
    line-height: 50px;
    vertical-align: middle;
}

.userbar {
    position: absolute;
    top: 10px;
    right: 60px;
}

.imguser {
    object-fit: cover;
    border-radius: 50px;
    width: 3vw;
    height: 3vw;
}