* {
    font-family: 'Kanit', sans-serif!important;
}

body {
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
    height: 100%;
}

.bar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vw;
    object-fit: cover;
    z-index: -1;
}

.bg-bar {
    /* The image used */
    background-image: url("../assets/image/bg1.jpeg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-space {
    margin: 0px!important;
    padding: 0px!important;
}

.bg {
    width: 100vw;
    height: 100vh;
    background: url("../assets/image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clock {
    position: absolute;
    bottom: 10px;
    right: 45px;
}

.videoIndex {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.logo-size {
    width: 50%;
    margin-left: 25%;
    height: 12vw;
    text-align: center;
}

.btn-get {
    position: absolute;
    bottom: 0px;
}

.video {
    /* position: absolute; */
    width: 100% !important;
    height: 100vh !important;
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    z-index: 2;
}

.textback {
    position: absolute;
    top: 20px;
    left: 40px;
    color: aliceblue;
    font-size: 17px;
    z-index: 100;
    transition: 2s;
}

.textback:hover {
    position: absolute;
    top: 20px;
    left: 40px;
    color: rgb(43, 119, 233);
    font-size: 22px;
    transition: 2s;
}