* {
    font-family: 'Kanit', sans-serif!important;
}

body {
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
    height: 100%;
}

.bg {
    width: 100vw;
    height: 100vh;
    background: url("../assets/image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.textback {
    position: absolute;
    top: 20px;
    left: 40px;
    color: aliceblue;
    font-size: 17px;
    z-index: 100;
    transition: 2s;
}